* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

ul,
ol {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section-subcribe .subcribe-form, .section-subcribe, .section-benefits .benefit-icon, .section-banner .offers-list .offer-icon, .btn[class*=btn-icon] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-banner .banner-link, .nav-list, .logo-link {
  display: flex;
  align-items: center;
}

.section-heading, .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-banner .banner-inner, footer .footer-top-left {
  display: flex;
  justify-content: space-between;
}

.category-content {
  display: flex;
  justify-content: flex-end;
}

.actions-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.section-subcribe, .section-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-img::after {
  position: absolute;
  inset: 0;
}

.btn {
  display: inline-block;
  height: 48px;
  padding: 14px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  color: #333333;
  border-radius: 24px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  border: 1px solid #c4c4c4;
}
.btn.btn-primary {
  background-color: #fbb03b;
}
.btn.btn-primary:hover {
  border: 1px solid #fbb03b;
  background-color: #f0a01e;
}
.btn.btn-secondary {
  background-color: #ffffff;
}
.btn.btn-secondary:hover {
  background-color: #c4c4c4;
}
.btn.btn-outline-secondary {
  border: 1px solid #c4c4c4;
  background-color: transparent;
}
.btn.btn-outline-secondary:hover {
  background-color: #c4c4c4;
}
.btn[class*=btn-icon] {
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.btn[class*=btn-icon]:hover {
  border: 1px solid transparent;
}
.btn.btn-icon-sm {
  width: 24px;
  height: 24px;
}
.btn.btn-icon-primary {
  background-color: #fbb03b;
}

@media only screen and (max-width: 768px) {
  .btn {
    height: 20px;
    padding: 0 15px;
  }
}
.logo-link {
  font-size: 19px;
  color: #ffffff;
}
.logo-link .logo-icon {
  margin-right: 22px;
}

.badge {
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 12px;
}
.badge.badge-primary {
  color: #ffffff;
  background-color: #ff0000;
}

@media only screen and (max-width: 768px) {
  .badge {
    font-size: 8px;
    padding: 2px 5px;
  }
}
input.form-control {
  height: 48px;
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 61px;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.row {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}
.row .col-1 {
  width: 8.33%;
}
.row .col-2 {
  width: 16.67%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33%;
}
.row .col-5 {
  width: 41.67%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.33%;
}
.row .col-8 {
  width: 66.67%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33%;
}
.row .col-11 {
  width: 91.67%;
}
.row .col-12 {
  width: 100%;
}
.row [class*=col] {
  padding: 10px;
}
.row.no-gutter [class*=col] {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .row {
    margin: -4px;
  }
  .row .col-sm-1 {
    width: 8.33%;
  }
  .row .col-sm-2 {
    width: 16.67%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.33%;
  }
  .row .col-sm-5 {
    width: 41.67%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.33%;
  }
  .row .col-sm-8 {
    width: 66.67%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.33%;
  }
  .row .col-sm-11 {
    width: 91.67%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
  .row [class*=col] {
    padding: 4px;
  }
}
header {
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-content {
  height: 48px;
}

.nav-list {
  font-size: 18px;
  font-weight: 700;
}
.nav-list .nav-item {
  margin-right: 96px;
}
.nav-list .nav-item:last-child {
  margin-right: 0;
}
.nav-list .nav-link {
  color: #fbb03b;
}

.actions-list .action-item {
  margin-right: 24px;
}
.actions-list .action-item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  header {
    background-color: #ffffff;
    top: 0;
  }
  header .header-content {
    height: 72px;
  }
  header .nav-list {
    display: none;
  }
  header .logo-link {
    color: #333333;
  }
  header .logo-link .logo-icon path {
    fill: black;
  }
}
footer {
  background-color: #fbb03b;
  color: #ffffff;
}
footer .footer-top {
  display: flex;
  padding: 40px 0;
}
footer .footer-top-left {
  flex-direction: column;
  width: 375px;
  margin-right: 170px;
}
footer .footer-top .logo {
  margin-bottom: 24px;
}
footer .footer-top .socials-list {
  display: flex;
  align-items: center;
}
footer .footer-top .socials-list .social-item {
  margin-right: 33px;
}
footer .footer-top .socials-list .social-item:last-child {
  margin-right: 0;
}
footer .footer-top-right {
  flex: 1;
}
footer .footer-top .option-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 19px;
}
footer .footer-top .option-item {
  padding: 4px 0;
}
footer .footer-top .option-item a {
  color: #ffffff;
}
footer .footer-copyright {
  padding: 24px 0;
  border-top: 1px solid #ffffff;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .footer-top {
    flex-direction: column;
  }
  footer .footer-top-left {
    width: 100%;
  }
}
.container {
  max-width: 1172px;
  padding: 0 10px;
  margin: 0 auto;
}

.page-section {
  padding: 48px 0;
}

.section-heading {
  margin-bottom: 39px;
}
.section-heading .section-title {
  flex: 1;
  font-weight: 300;
  font-size: 32px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
  .section-heading .section-title {
    font-size: 18px;
  }
}
.text-primary {
  color: #fbb03b;
}

.text-center {
  text-align: center;
}

.txt-underline {
  text-decoration: underline;
}

.mg-1 {
  margin: 4px;
}

.section-banner {
  position: relative;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../img/fashion-banner-1.png");
  height: 800px;
}
.section-banner .banner-inner {
  flex-direction: column;
  height: 800px;
}
.section-banner .banner-content {
  padding: 222px 0 0 96px;
  color: #ffffff;
}
.section-banner .banner-title {
  width: 403px;
  margin-bottom: 24px;
  line-height: 73px;
  font-size: 72px;
}
.section-banner .banner-link-text {
  margin-left: 21px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.section-banner .offers-list {
  display: flex;
  padding: 0 0 72px 96px;
  z-index: 1;
}
.section-banner .offers-list .offer-item {
  margin-right: 48px;
  max-width: 236px;
}
.section-banner .offers-list .offer-icon {
  flex-shrink: 0;
  background-color: #fff3df;
}
.section-banner::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 125px;
  width: 75%;
  border-top-right-radius: 70px;
  background-color: #ffffff;
}

.category {
  position: relative;
}
.category-img {
  position: relative;
  height: 359px;
}
.category-img::after {
  content: "";
  background-color: #333333;
  opacity: 0.5;
}
.category-content {
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  left: 40px;
  bottom: 53px;
  color: #ffffff;
}
.category-content .badge {
  margin-bottom: 8px;
}
.category-title {
  height: 91px;
  font-size: 24px;
  font-weight: 400;
}

.section-benefits {
  background-color: #f7f7f7;
}
.section-benefits .benefit-item:hover svg path {
  fill: #fbb03b;
  transition: 0.2s ease-in-out;
}
.section-benefits .benefit-item:hover .media-title {
  color: #fbb03b;
  transition: 0.2s ease-in-out;
}
.section-benefits .section-heading {
  margin-bottom: 50px;
}
.section-benefits .benefit-icon {
  background-color: #ffffff;
}

.section-subcribe {
  height: 241px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 33.28%, rgba(0, 0, 0, 0) 94.05%), url("../img/fashion-footer.png");
}
.section-subcribe .subcribe {
  align-items: center;
}
.section-subcribe .subcribe-title {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.section-subcribe .subcribe-btn {
  flex-shrink: 0;
  width: 175px;
  margin-left: 40px;
}

@media only screen and (max-width: 768px) {
  .section-banner {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../img/fashion-banner-mobile.png");
    height: 740px;
  }
  .section-banner .offers-list {
    display: none;
  }
  .section-banner .banner-content {
    padding-left: 24px;
  }
  .section-banner .banner-title {
    font-size: 48px;
    width: 100%;
  }
  .section-banner::after {
    display: none;
  }
  .category-img {
    height: 225px;
  }
  .category-content {
    bottom: 16px;
    left: 16px;
  }
  .category-title {
    height: 55px;
    font-size: 16px;
  }
  .section-subcribe {
    height: 217px;
  }
}
.product {
  position: relative;
}
.product-img {
  display: flex;
  height: 385px;
  margin-bottom: 16px;
}
.product-name {
  font-weight: 300;
  font-size: 16px;
}
.product-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 20px;
}
.product-price .price-discount {
  color: #ff0000;
}
.product-price .price-discount + .price-current {
  color: #cecece;
}
.product .badge {
  position: absolute;
  top: 30px;
  left: 27px;
}

@media only screen and (max-width: 768px) {
  .product-img {
    height: 227px;
    margin-bottom: 0;
  }
  .product-name {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .product-price {
    font-size: 10px;
  }
  .product-info {
    padding: 4px;
  }
  .product .badge {
    top: 12px;
    left: 9px;
  }
}
.media {
  display: flex;
}
.media-img {
  flex-shrink: 0;
  margin-right: 21px;
  width: 68px;
  height: 68px;
  border-radius: 10px;
  overflow: hidden;
}
.media-title {
  margin-bottom: 4px;
}
.media-content {
  font-size: 12px;
  color: #a8a8a8;
}
.media-sm .media-img {
  width: 36px;
  height: 36px;
}
.media.media-vertical {
  flex-direction: column;
}
.media.media-vertical .media-img {
  margin-right: 0;
  margin-bottom: 46px;
}
.media.media-vertical .media-title {
  margin-bottom: 16px;
}

/*# sourceMappingURL=style.css.map */
