@mixin evenly-space-x($space) {
  margin-right: $space;
  &:last-child {
    margin-right: 0;
  }
}

@mixin evenly-space-y($space) {
  margin-bottom: $space;
  &:last-child {
    margin-bottom: 0;
  }
}

$mobile: 768px;
@mixin responsive_mobile() {
  @media only screen and (max-width: #{$mobile}) {
    @content;
  }
}
